<div class="w-75 mx-auto py-4">
  <div class="d-flex justify-content-between">
    <div>
      <p>
        Made with
        <i class="bi bi-heart-fill"></i>
        by
        <span class="bold">Darrien Park</span>
      </p>
    </div>
    <div class="social d-flex justify-content-between">
      <a href="https://www.linkedin.com/in/darrien-park/" target="_blank">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="https://github.com/darrienpark" target="_blank">
        <i class="bi bi-github"></i>
      </a>
    </div>
  </div>
</div>
